body {
  background-color: #0a84b3;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.header {
  background-image: url(../img/turtle_header.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  margin-top: 3vh;
  width: 70vw;
  height: 17vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-left: 3%;
}

.header h1  {
  text-align: center;
  font-size: calc(0.4vw + 1.8vh);
  margin: 0;
  margin-bottom: -2%;
  letter-spacing: 1vw;
  font-family: 'Frijole', cursive;
}

.gameBoard {
  width: 70%;
  margin: 0px auto;
  margin-top: calc(2vw + 2vh);
  margin-bottom: calc(1vw + 1vh);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;2
}

.cardContainer {
  perspective: calc(5vw + 5vh);
  transition: transform 1s;
  width: calc(6vw + 6vh);
  height: calc(6vw + 6vh);
  margin: 1vw;
}

.card {
  width: 100%;
  height: 100%;
  font-size: 60px;
  cursor: pointer;
  text-align: center;
  border-radius: 100%;
  transform-style: preserve-3d;
  transition: transform .3s ease;
  backface-visibility: hidden;
  position: relative;
}

.card:hover {
  top: -5%;
  left: -5%;
  width: 110%;
  height: 110%;
}

.front, .back {
  position: absolute;
  border-radius: 100%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.7), inset 5px 5px 10px 2px rgba(255, 255, 255, 0.7);
}

.front {
  background-color: #a3afbb;
  background-image: url(../img/shell3.png);
  background-position: 50% 70%;
  background-size: 90%;
  background-repeat: no-repeat;
}

.front:hover {
  box-shadow: 0px 0px 10px 2px #75b600, inset 5px 5px 10px 2px rgba(255, 255, 255, 0.7);
}

.back {
  display: flex;
  background-position: 50% 70%;
  background-size: contain;
  backface-visibility: hidden;
  transform: rotateY( 180deg );
  font-size: calc(0.5vw + 0.5vh);
  align-items: flex-end;
  justify-content: center;
  font-family: 'Quicksand', sans-serif;
}

.back:hover {
  box-shadow: 0px 0px 10px 2px #75b600, inset 5px 5px 10px 2px rgba(255, 255, 255, 0.7);
}

.Leonardo {
  background-image: url(../img/leo.png);
}

.Rafael {
  background-image: url(../img/rafael.png);
}

.Michelangelo {
  background-image: url(../img/mike.png);
}

.Donatello {
  background-image: url(../img/donatello.png);
}

.Splinter {
  background-image: url(../img/splinter.png);
}

.April {
  background-image: url(../img/april.png);
}

.Shredder {
  background-image: url(../img/shredder.png);
}

.Kraang {
  background-image: url(../img/crang.png);
}

.button {
  text-align: center;
  font-size: calc(0.5vw + 2vh);
  margin-top: 0;
  margin-bottom: 2%;
  letter-spacing: 1vw;
  font-family: 'Frijole', cursive;
  cursor: pointer;
  transition: letter-spacing .3s ease, font-size .3s ease;
}

.button:hover {
  text-shadow: 0px 0px 10px #75b600;
  font-size: calc(0.6vw + 2.2vh);
  letter-spacing: 1.5vw;
}

.button:active {
  color: #75b600;
  text-shadow: 0px 0px 10px #000000;
  font-size: calc(0.6vw + 2.2vh);
  letter-spacing: 1.5vw;
}
